{% extends 'layout.html.twig' %}

{% block title %}Entreprises{% endblock %}

{% block content %}

<section class="entreprise-preview-container">
    <div class="entreprise-preview">

        {% for company in companies %}
            <div class="entreprise-card-v2">
                <img src="/images/{{ company.banner }}" alt="{{ company.name }} bannière" class="banner-img">
                <div class="logo-entreprise-mini">
                    <img src="/images/{{ company.logo }}" alt="Logo {{ company.name }}">
                </div>
                <div class="contenu-entreprise-card">
                    <h3>{{ company.name }} recrutement</h3>
                    <div class="tags">
                        <span class="tag">{{ company.industry }}</span>
                        <span class="tag">{{ company.city }}</span>
                        <span class="tag">~{{ company.employees }} salariés</span>
                    </div>
                    <div class="bas-carte">
                        <a href="{{ company.company_show_url }}" class="btn-decouvrir">Découvrir</a>
                        <span class="nb-jobs"><strong>{{ company.nb_offer }}</strong> jobs</span>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</section>

<section class="faq-entreprise">
    <div class="faq-header">
        <h2>Les questions<br><span>les plus fréquentes sur les entreprises</span></h2>
        <p>
            Vous recherchez une entreprise qui vous permettra de progresser et de donner le meilleur de vous-même ?
            Vous avez de nouvelles attentes professionnelles ?<br>
            N’hésitez plus et donnez un nouveau souffle à votre carrière. Internhub vous aide à trouver le travail qui vous correspond.<br>
            Nous vous proposons ci-dessous des annonces d’emploi classées par entreprises et vous montrons quelles entreprises recrutent le plus par ville ou par métier.<br>
            Internhub est votre partenaire tout au long de votre carrière professionnelle.
        </p>
    </div>
</section>

{% endblock %}
