{% extends 'layout.html.twig' %}

{% block title %}Offres d'Emploi{% endblock %}

{% block content %}

<main class="offres-page">
    <div class="offres-container">
        
        <!-- Filtres -->
        <section class="filtres-offres">
            <h2>Filtrer les offres</h2>
            <form method="GET" action="index.php">
                <input type="hidden" name="uri" value="Offer">
                <div class="filtres">
                    <select name="entreprise" class="offre-card">
                    <option disabled {% if not entreprise %}selected{% endif %}>Entreprise</option>
                    {% for company in companies %}
                        <option value="{{ company }}" {% if entreprise == company %}selected{% endif %}>{{ company }}</option>
                    {% endfor %}

                    </select>

                    <select name="domaine" class="offre-card">
                    <option disabled {% if not domaine %}selected{% endif %}>Domaine</option>
                    {% for dom in domaines %}
                        <option value="{{ dom }}" {% if domaine == dom %}selected{% endif %}>{{ dom }}</option>
                    {% endfor %}

                    </select>

                    <button type="submit" class="cta-button">Filtrer</button>
                    <a href="index.php?uri=Offer" class="cta-button" style="background-color: #bbb; color: #000;">Réinitialiser</a>
                </div>
            </form>
        </section>



        <!-- Liste des offres -->
        <section class="liste-global-offres">
            {% for offer in offers %}
                <div class="offre-card">
                    <h3>{{ offer.TITRE }}</h3>
                    <p><strong>Entreprise :</strong> {{ offer.COMPANY_NAME }}</p>
                    <p>{{ offer.DOMAIN_ACT }} - {{ offer.DESCR|length > 60 ? offer.DESCR|slice(0, 60) ~ '...' : offer.DESCR }}</p>
                    <div class="tags">
                        <span class="tag">{{ offer.CONTRACT }}</span>
                        <span class="tag">{{ offer.SALARY }} €</span>
                    </div>
                    <p class="date">publié le {{ offer.PUB_DATE|date("d/m/Y") }}</p>
                    <button class="btn-offre">Voir l'offre</button>
                </div>
            {% else %}
                <p>Aucune offre disponible actuellement.</p>
            {% endfor %}
        </section>
    </div>
</main>
{% endblock %}
